<div class="slider__inner_content">
  {% if block.settings.float_left != blank %}
    <div class="image_float_wrap float_left">
      <img
        class="float_img"
        src="{{ block.settings.float_left | image_url }}"
        alt="Floating Image"
        loading="eager"
        width="{{ block.settings.float_left.width }}"
        height="{{ block.settings.float_left.height }}"
      >
    </div>
  {% endif %}
  {% if block.settings.float_middle != blank %}
    <div class="image_float_wrap float_middle">
      <img
        class="float_img"
        src="{{ block.settings.float_middle | image_url }}"
        alt="Floating Image"
        loading="eager"
        width="{{ block.settings.float_middle.width }}"
        height="{{ block.settings.float_middle.height }}"
      >
    </div>
  {% endif %}
  {% if block.settings.float_right != blank %}
    <div class="image_float_wrap float_right">
      <img
        class="float_img"
        src="{{ block.settings.float_right | image_url }}"
        alt="Floating Image"
        loading="eager"
        width="{{ block.settings.float_right.width }}"
        height="{{ block.settings.float_right.height }}"
      >
    </div>
  {% endif %}
  <div class="slider__banner_imgwrapper">
    {% if block.settings.desktop_image %}
      <img
        class="slider_img"
        src="{{ block.settings.image | image_url }}"
        alt="{{ block.settings.alt | escape }}"
        loading="eager"
        width="{{ block.settings.image.width }}"
        height="{{ block.settings.image.height }}"
      >
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Slide Image",
  "class": "splide__slide",
  "settings": [
    {
      "type": "checkbox",
      "id": "desktop_image",
      "label": "Show Desktop Image",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Main Banner Image"
    },
    {
      "type": "text",
      "id": "alt",
      "label": "Image Alt Text"
    },
    {
      "type": "header",
      "content": "Floating Images"
    },
    {
      "type": "image_picker",
      "id": "float_left",
      "label": "Left Floating Image"
    },
    {
      "type": "image_picker",
      "id": "float_middle",
      "label": "Middle Floating Image"
    },
    {
      "type": "image_picker",
      "id": "float_right",
      "label": "Right Floating Image"
    }
  ],
  "presets": [
    {
      "name": "Slide Image"
    }
  ]
}
{% endschema %}
