{% if block.settings.products != blank %}
  {{ 'switch.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'switch.js' | asset_url }}" defer="defer"></script>
  <div class="switcher_container">
    <div class="top_switch_bar">
      <label class="switch">
        <input
          class="addonswitch is--active"
          type="checkbox"
          checked
          data-id="addonproducts"
        >
        <span class="switch-slider round"></span>
      </label>
      <div class="label_switch">{{ block.settings.label }}</div>
    </div>
    <div
      class="addonswitch_container is--active"
      data-id="addonproducts"
    >
      <div class="upsell_container">
        {% for item in block.settings.products %}
          <div class="prop-card" x-data="featuredProductsSliderModal">
            <div class="prop-content">
              <div class="prop-details">
                <h4 class="prop-title">
                  {{ item.title }}
                </h4>

                <div class="prop-bottom">
                  <span class="prop-price">
                    {{ item.price | money }}
                  </span>

                  <button class="prop-add-btn">Add Item</button>
                </div>
              </div>

              <div class="prop-image-wrap">
                <div class="prop-shape"></div>

                <img
                  src="{{ item.featured_image | image_url }}"
                  alt="{{ item.title }}"
                  width="{{ item.featured_image.width }}"
                  height="{{ item.featured_image.height }}"
                  class="product_image"
                >
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Switch Upsell",
  "settings": [
    {
      "type": "text",
      "id": "label",
      "label": "Label",
      "default": "Goes well With"
    },
    {
      "type": "product_list",
      "label": "Product List",
      "id": "products"
    }
  ],
  "presets": [
    {
      "name": "Switch Upsell",
      "category": "Product"
    }
  ]
}
{% endschema %}
