<div class="section-background color-{{ section.settings.color_scheme }}"></div>
<div
  class="section section--{{ section.settings.section_width }} color-{{ section.settings.color_scheme }}"
  data-testid="ui-test-section"

  {% if request.visual_preview_mode %}
    data-shopify-visual-preview
  {% endif %}
>
  <div
    class="
      spacing-style
      layout-panel-flex
      layout-panel-flex--{{ section.settings.content_direction }}
      section-content-wrapper
      {% if section.settings.vertical_on_mobile %} mobile-column{% endif %}
    "
    style="{% render 'spacing-style', settings: section.settings %}"
    data-testid="section-content"
  >
    <div class="main--wrapper position--{{ section.settings.side }}">
      <div class="content--side_wrapper">
        {% comment %} {% content_for 'slide-content' %} {% endcomment %}
      </div>
      <div class="slide--side_wrapper">
        {% comment %} {% content_for 'slide-image' %} {% endcomment %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Custom Slider",
  "class": "section-wrapper",
  "blocks": [
    {
      "type": "slide-content"
    },
    {
      "type": "_divider"
    },
    {
      "type": "slide-image"
    }
  ],
  "disabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "select",
      "id": "side",
      "label": "Content Position",
      "default": "content-left",
      "options": [
        {
          "label": "Content Left",
          "value": "content-left"
        },
        {
          "label": "Content Right",
          "value": "content-right"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:content.appearance"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Custom Slider"
    }
  ]
}
{% endschema %}
