<div class="section-background color-{{ section.settings.color_scheme }}"></div>
<div
  class="section section--{{ section.settings.section_width }} color-{{ section.settings.color_scheme }}"
  data-testid="ui-test-section"

  {% if request.visual_preview_mode %}
    data-shopify-visual-preview
  {% endif %}
>
  <div
    class="
      spacing-style
      layout-panel-flex
      layout-panel-flex--{{ section.settings.content_direction }}
      section-content-wrapper
      {% if section.settings.vertical_on_mobile %} mobile-column{% endif %}
    "
    style="{% render 'spacing-style', settings: section.settings %}"
    data-testid="section-content"
  >
    <div class="main--wrapper position--{{ section.settings.side }}">
      <div class="content--side_wrapper">
        {% content_for 'blocks' %}
      </div>
      <div class="slide--side_wrapper">
        <div
          class="splide {% unless section.blocks.size > 1 %}visible{% endunless %}"
          {% if section.blocks.size > 1 %}
            id="splide-{{ section.id }}"
          {% endif %}
        >
          <div class="splide__track">
            <div class="splide__list">
              {% for i in (1..4) %}
                {% capture image %}desktop_{{ i }}{% endcapture %}
                {% capture alt %}alt_{{ i }}{% endcapture %}
                {% if section.settings[image] %}
                  <div class="splide__slide slider__banner-wrap-custom">
                    <div class="banners_images-custom">
                      <img
                        class="customslider customslider--desktop"
                        src="{{ section.settings[image] | image_url }}"
                        alt="{{ section.settings[alt] | escape }}"
                        loading="eager"
                        width="{{ section.settings[image].width }}"
                        height="{{ section.settings[image].height }}"
                      >
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>

          {% if section.settings.show_pagination %}
            <ul class="splide__pagination splide-pagination-{{ section.id }}"></ul>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% render 'splide-slider', section: section %}

{% schema %}
{
  "name": "Custom Slider",
  "class": "section-wrapper",
  "blocks": [
    {
      "type": "@theme"
    }
  ],
  "disabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Splide Settings"
    },
    {
      "type": "select",
      "id": "slider_type",
      "label": "Slider Type",
      "options": [
        { "value": "slide", "label": "Slide" },
        { "value": "loop", "label": "Loop" },
        { "value": "fade", "label": "Fade" }
      ],
      "default": "loop"
    },
    {
      "type": "range",
      "id": "perPageDesktop",
      "label": "Slides per view (Desktop)",
      "min": 1,
      "max": 1,
      "step": 1,
      "default": 1
    },
    {
      "type": "range",
      "id": "perPageMobile",
      "label": "Slides per view (Mobile)",
      "min": 1,
      "max": 1,
      "step": 1,
      "default": 1
    },
    {
      "type": "range",
      "id": "perMove",
      "label": "Slides to move",
      "min": 1,
      "max": 3,
      "step": 1,
      "default": 1
    },
    {
      "type": "range",
      "id": "gap",
      "label": "Gap (Desktop)",
      "min": 0,
      "max": 60,
      "default": 0
    },
    {
      "type": "range",
      "id": "gap_mobile",
      "label": "Gap (Mobile)",
      "min": 0,
      "max": 60,
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Enable autoplay",
      "default": false
    },
    {
      "type": "range",
      "id": "autoplay_speed",
      "label": "Autoplay speed (seconds)",
      "min": 1,
      "max": 10,
      "default": 3
    },
    {
      "type": "range",
      "id": "transition_speed",
      "label": "Transition speed (ms)",
      "min": 300,
      "max": 2000,
      "step": 100,
      "default": 1000
    },
    {
      "type": "checkbox",
      "id": "show_arrows",
      "label": "Show arrows",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_pagination",
      "label": "Show pagination",
      "default": false
    },
    {
      "type": "select",
      "id": "side",
      "label": "Content Position",
      "default": "content-left",
      "options": [
        {
          "label": "Content Left",
          "value": "content-left"
        },
        {
          "label": "Content Right",
          "value": "content-right"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:content.appearance"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Custom Slider"
    }
  ]
}
{% endschema %}
